*{
    margin: 0;
    padding: 0;
}
.life li{
   float: right;
   list-style-type: none;
  position: relative;
   vertical-align: middle;
   height: 50px;
}

.life a{
    text-decoration: none;
    color: gray;
    margin: 19px 80px;
    padding: 5px;
    display: flex;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-family: 'Rubik', sans-serif;

    

}
.life{
    width: 100%;
    
    height: 80px;
    
}

.life ul{

    overflow: auto;
    vertical-align: middle;

}

.store{
    float: left;
    
    color: gray;
    display: flex;
    margin-left: 50px;
    padding: 20px 3px;
    font-size: 30px;
    font-weight: bold;
}
.yp{
    background-color: black;
    
}

#ki{
    text-decoration: none;
    color: gray;
    font-family: 'Nunito', sans-serif;
font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

#op{
   width: 1000px;
   align-items: center;
   margin-left: 250px;
   margin-right: 250px;
}
.container{
      width: 200px;
      height: 300px;
      color: white;
      background-color: black;
      opacity: 0.7;
      align-content: center;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      margin-top: 70px;
      display: block;
      
   
      
}
.po{
    background-image: url("./images/simple.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 150px;
    height: 500px;
    
}
#sell-lifestyle{
    font-size: 50px;
    color: white;
    margin-top: auto;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
   margin: 1000px 150px;
   padding-bottom: 6%;
   padding-top: 6%;
   overflow: hidden;
}
.flat{
    font-size: 20px;
    margin: 1000px 100px;
    margin-top: 100px;
    position: relative;
    padding-bottom: 6%;
    padding-top: 6%;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.font{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
.submit{
    width: 20%;
    margin: 0pt 245px;
    margin-top: 0pt;
    padding: 12px 8px;
    background-color: rgb(219, 0, 0);
    opacity: full;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border-color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-attachment: fixed,scroll;
    margin-top: 20px;

    
}
.submit:hover{
    color: black;
    cursor:pointer;
}
.footer{
    position: fixed;
    width: 100%;
    background-color: black;
    color: gray;
    bottom: 0px;
    margin-bottom: 0px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.thumbnail{
    border: 1px solid #ddd;
    width: 320px;
    height: 300px;
    display: inline-block;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 5px;
    background-color: #fff;

   
}
.imagee{
    width: 310px;
    height: 200px;
    align-content: center;
    margin: 5px 5px;
}
.cm{
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
#choose{
    color: black;
    margin-left: 10px;
    
}
#nm{
    margin-left: 50px;
}
#mn{
    margin-left: 30px;
}